server:
  port: 8888

spring:
  application:
   name: config-server

cloud:
  config:
    server:
      git:
        uri: https://github.com/hiba-hmadad12/Config-Server.git
        default-label: master
        clone-on-start: trues